body {
    background-color: #33FFDD;
    color:black;
    background-image: url('vibhu.jpg.jpg'); 
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center;
    
}
