body {
    background-color: #33FFDD;
    color:black;
    background-image: url('photo.jpg'); 
    background-repeat: repeat; 
    background-size: cover; 
    background-position: center;
    
}
H1 {
    text-decoration: underline;
    text-align: center;
    text-size-adjust: 60;
}